html {
    background: url(./images/30_rock.jpg) no-repeat center center fixed;
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
}